<!DOCTYPE html>
<html>
<head>
<title>Digital Footprint Investigation Tool</title>
</head>

<body>

<h1>Digital Footprint Investigation Tool</h1>

<form method="POST">
    <input type="text" name="username" placeholder="Enter Username" required>
    <br><br>
    <button type="submit">Investigate</button>
</form>

{% if results %}

<h2>Results</h2>

<ul>
{% for site, status in results.items() %}
<li>{{site}} : {{status}}</li>
{% endfor %}
</ul>

<h3>Digital Presence Score: {{score}}%</h3>
<h3>Risk Level: {{risk}}</h3>

{% endif %}

</body>
</html>